@font-face {
    font-family: "Josefin Sans", sans-serif;
    src: url("../font/Futura.otf");
}

body {
    display: flex;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;

}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    color: #000;
    letter-spacing: 0.3px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.head-nav {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 25px;
    margin: 0 30px;
}

.text-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-container a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: #000;
    letter-spacing: 0.3px;
    margin: 0 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
}

.text-container a:hover {
    color: #c4c4c4;
}

.overview {
    margin-left: 30px;
    margin-top: 40px;
}

.sorting {
    display: flex;
    flex-direction: row;
}

.SORTED-BY {
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SORTED-BY p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    color: #c7c7c7;
    letter-spacing: -0.1px;
}

.break1 {
    width: 13px;
    height: 60px;
    border-left: solid 1px #c7c7c7;
    transform: translateX(20px) rotate(15deg);
}

.sort-row2 {
    margin-top: 15px;
}

.sorttag {
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.sorttag p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.2px;
    color: #000;
    cursor: pointer;
    transition: font-weight 0.3s;
}

.sorttag:hover p {
    font-weight: bold;
}

.sorttag:hover p::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translate(-50%, 0);
}

.tagselected p {
    font-weight: bold;
}

.tagselected p::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translate(-50%, 0);
}


.detail {
    margin-top: 40px;
}

.break2 {
    width: 13px;
    height: 40px;
    border-left: solid 1px #c7c7c7;
    transform: translateX(20px) rotate(15deg);
    margin-top: 25px;
}

.filter-container {
    width: 217px;
    height: 27px;
    border-radius: 14.5px;
    border: solid 1px #4a4a4a;
    background-color: #fff;
    position: absolute;
    top: -15px;
    left: 20px;
    cursor: pointer;
    z-index: 9999;
    transition: background-color 0.3s;
}

.filter-cue {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: -0.2px;
    color: #fff;
    position: absolute;
    left: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.filter-category {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: -0.2px;
    color: #4a4a4a;
}

.break3 {
    width: 1px;
    height: 16px;
    border-left: solid 1px #4a4a4a;
    margin-top: 6px;
}

.filter-sub-category {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: -0.2px;
    color: #4a4a4a;
}

.filter-icon {
    margin-top: 12px;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
}

.menu-not-active {
    display: none;
}

.menu-active {
    display: block;
}

.dropdown-menu li {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: -0.2px;
    color: #4a4a4a;
    width: 102px;
    height: 27px;
    border-radius: 14.5px;
    border: solid 1px #4a4a4a;
    background-color: #fff;
    margin-bottom: 6px;
    padding-left: 10px;
    cursor: pointer;
    transition: font-weight 0.3s;
}

.dropdown-menu li:hover {
    font-weight: bold;
}

.submenu-contianer {
    position: relative;
}

.dropdown-submenu {
    list-style: none;
    padding: 0;
    width: 102px;
    min-height: 200px;
    border-radius: 7px;
    border: solid 1px #4a4a4a;
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: 100px;
}

.dropdown-submenu li {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: -0.2px;
    color: #4a4a4a;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
    cursor: pointer;
    position: relative;
    transition: font-weight 0.3s;
}

.dropdown-submenu li:hover {
    font-weight: bold;
    position: relative;
}

.dropdown-submenu .li-item-active {
    font-weight: bold;
}

.menu-pattern ,.menu-color ,.menu-accessory ,.menu-neckline {
    display: none;
}

.legend-container {
    width: 145px;
    border-radius: 14.5px;
    border: solid 1px #4a4a4a;
    background-color: #fff;
    position: relative;
    left: 255px;
    float: left;
    z-index: 9999;
    opacity: 0;
}

.legend {
    width: 135px;
    height: 23px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    margin-top: 6px;
    position: relative;
}

.legend:last-child {
    margin-bottom: 6px;
}

.legend2 {
    background-color: rgba(255, 0, 31, 0);
}

.legend-icon {
    width: 14px;
    height: 14px;
    margin-left: 5px;
    display: inline-block;
}

.legend-text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: -0.1px;
    color: #4a4a4a;
    padding-top: 1px;
    margin-left: 8px;
}

.delete {
    width: 10px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.matrix-instructions {
    position: absolute;
    top: 15px;
    left: 20px;
    opacity: 0;
}

.matrix-instructions p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.1px;
    color: #4a4a4a;
}

/*
.matrix-legend-container {
    width: 135px;
    border-radius: 14.5px;
    border: solid 1px #4a4a4a;
    background-color: #fff;
    position: absolute;
    top: -15px;
    right: 10px;
    cursor: pointer;
    z-index: 8888;
}
*/

/*
.matrix-legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    margin-top: 6px;
    position: relative;
}
*/

/*
.matrix-legend-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.matrix-legend-text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: -0.1px;
    color: #4a4a4a;
    margin-left: 8px;
}

.matrix-delete {
    position: absolute;
    right: 15px;
    cursor: pointer;
}
*/

.instruction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instruction-text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -0.1px;
    color: #4a4a4a;
    text-align: center;
}

.line-chart-container {
    width: 420px;
    height: 650px;
    border-radius: 12.5px;
    border: solid 1px #4a4a4a;
    background-color: #ffffff;
    margin-top: 20px;
    position: relative;
    display: block;
}

.line-chart-container::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #4a4a4a;
    position: absolute;
    top: 300px;
    right: 420px;
}

.line-chart-container::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #fff;
    position: absolute;
    top: 301px;
    right: 420px;
}

.line-chart {
    margin-top: -35px;
    margin-left: 10px;
}

.slider-container {
    margin-left: 20px;
    margin-top: 155px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 600px;
    height: 2px;
    transform: rotate(90deg);
    position: relative;
    top: 289px;
    left: -289px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000000 37%, #000000 67%, rgba(0, 0, 0, 0));
    outline: transparent;
    z-index: 333;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 80px;
    height: 20px;
    border-radius: 11px;
    background-image: url("../image/slider.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    cursor: pointer;
}

.range-labels {
    position: relative;
    top: 0;
    left: 0;
    z-index: 222;
    pointer-events: none;
}

.range-labels li {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #000;
    list-style: none;
    margin-bottom: 36px;
    position: relative;
    z-index: 222;
}

.range-labels li:last-child {
    margin-bottom: 0;
}

.range-labels li::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #4a4a4a;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -30px;
}

.range-labels p {
    padding: 0;
    margin: 0;
}

.year {
    opacity: 0;
}

.quarter {
    position: absolute;
    top: 15px;
    opacity: 0;
}



#grid {
    text-align: center;
}

.matrix-part {
    width: 420px;
    height: 650px;
    border-radius: 12.5px;
    border: solid 1px #4a4a4a;
    background-color: #ffffff;
    margin-top: 20px;
    position: relative;
    display: none;
}

.matrix-part::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #4a4a4a;
    position: absolute;
    top: 300px;
    right: 420px;
}

.matrix-part::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #fff;
    position: absolute;
    top: 301px;
    right: 420px;
}

.matrix-chart {
    margin-top: 30px;
/*    background-color: #000;*/
}


.section-title {
    position: relative;
}

.section-title h1 {
    color: #c7c7c7;
    cursor: pointer;
    transition: color 0.3s;
}

.section-title:hover h1 {
    color: #000;
}

.section-title:hover h1::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
}

.section-selected h1 {
    color: #000;
}

.section-selected h1::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
}








/*main body*/
.malehead-cls-1{fill:#d3ab84;}
.malehead-cls-2{fill:#dbb99a;}
.malehead-cls-3{fill:#231f20;}

.femalehead-cls-1{fill:#ddbe9a;}
.femalehead-cls-2{fill:#e2c9b5;}
.femalehead-cls-3{fill:#262626;}

.maleupperbody-cls-1{fill:#dbba9b;}
.maleupperbody-cls-2{fill:#d3ab84;}

.femaleupperbody-cls-1{fill:#e2c9b5;}
.femaleupperbody-cls-2{fill:#ddbe9a;}

.maledownbody-cls-1{fill:#d3ab84;}
.maledownbody-cls-2{fill:#dbb99a;}
.maledownbody-cls-3{fill:#edebea;}
.maledownbody-cls-4{fill:#dfdfde;}
.maledownbody-cls-5{fill:#493829;}
.maledownbody-cls-6{fill:#644c34;}
.maledownbody-cls-7{fill:#3f2d1c;}
.maledownbody-cls-8{fill:#5a4128;}

.femaledownbody-cls-1{fill:#ddbe9a;}
.femaledownbody-cls-2{fill:#e6ceb4;}
.femaledownbody-cls-3{fill:#edebea;}
.femaledownbody-cls-4{fill:#dfdfde;}
.femaledownbody-cls-5{fill:#212222;}
.femaledownbody-cls-6{fill:#1d1d1d;}
.femaledownbody-cls-7{fill:#343436;}

/*clothing category*/
.tanktop-cls-1{fill:#52c3f0;}
.tanktop-cls-2{fill:#00aeef;}

.tshirt-cls-1{fill:#f7be79;}
.tshirt-cls-2{fill:#f7941d;}

.shirt-cls-1{fill:#c2b59b;}
.shirt-cls-2{fill:#a09580;}
.shirt-cls-3{fill:#231f20;}

.sweater-cls-1{fill:#fbb040;}
.sweater-cls-2{fill:#b07b2d;}
.sweater-cls-3{fill:#8656a3;}
.sweater-cls-4{fill:#262262;}

.suit-cls-1{fill:#fff;}
.suit-cls-2{fill:#231f20;}
.suit-cls-3{fill:#414042;}
.suit-cls-4{fill:#554b4d;}

.outerwear-cls-1{fill:#fff;}
.outerwear-cls-2{fill:#231f20;}
.outerwear-cls-3{fill:#504749;}
.outerwear-cls-4{fill:#435a85;}
.outerwear-cls-5{fill:#d1d3d4;}
.outerwear-cls-6{fill:#414042;}

.dress-cls-1{fill:#fff;}
.dress-cls-2{fill:#99262a;}
.dress-cls-3{fill:#6c1b1e;}
.dress-cls-4{fill:#ddbe9a;}
.dress-cls-5{fill:#e6ceb4;}

/*neckline shape*/
.folded-cls-1{fill:#58595b;}
.folded-cls-2{fill:#414042;}

.vshape-cls-1{fill:#58595b;}
.vshape-cls-2{fill:#d3ab84;}
.vshape-cls-3{fill:#dbba9b;}

.round-cls-1{fill:#6d6e71;}
.round-cls-2{fill:#d3ab84;}
.round-cls-3{fill:#dbb99a;}

/*scarf, hat, glasses, necktie*/
.scarf-cls-1{fill:#27aae1;stroke:#27aae1;}
.scarf-cls-1,.scarf-cls-2{stroke-miterlimit:10;}
.scarf-cls-2{fill:#1b75bc;stroke:#1b75bc;}

.malehat-cls-1{fill:#181823;}
.malehat-cls-2{fill:#a7a9ac;}

.femalehat-cls-1{fill:#d77d35;}
.femalehat-cls-2{fill:#fbb378;}
.femalehat-cls-3{fill:#bee3d8;}
.femalehat-cls-4{fill:#f15d5c;}
.femalehat-cls-5{fill:#48b896;}

.maleglasses-cls-1{fill:#e6e7e8;}
.maleglasses-cls-2{fill:#323232;}

.femaleglasses-cls-1{fill:#414042;}
.femaleglasses-cls-2{fill:#323232;}

.necktie-cls-1{fill:#231f20;}
.necktie-cls-2{fill:#353433;}

/*clothing pattern*/
.floral-cls-1{fill:rgba(241, 242, 242, 0.9);}

.spotted-cls-1{fill:rgba(241, 242, 242, 0.8);}

.graphics-cls-1{fill:none;}
.graphics-cls-1,.graphics-cls-2{stroke:rgba(241, 242, 242, 0.9);stroke-linecap:round;stroke-linejoin:round;}

.striped-cls-1{fill:rgba(241, 242, 242, 0.8);}

.plaid-cls-1{fill:rgba(241, 242, 242, 0.3);}
.plaid-cls-2{fill:none;}

/*chernoff section*/
#chernoff {
    width: 60vw;
    margin-top: 0px;
    position: relative;
}

/*main body position*/
.person {
    display: inline-block;
    width: 90px;
    height: 100px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
/*    transition: transform 0.5s;*/
}

.personBKG{
    position: absolute;
    width: 60px;
    height: 120px;
    top: -12%;
    left: 15.5%;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: -9999;
}

.person:hover {
    transform: scale(1.5);
    z-index: 0;
}

.person:hover::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 120px;
    top: -12%;
    left: 15.5%;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 #c6c6c6;
    background-color: #ffffff;
    z-index: -9999;
}

.person:hover text {
    display: none;
}

.person:hover .comboBtn {
    display: block;
}

.personBKG {
    position: absolute;
    width: 70px;
    height: 120px;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
/*    background-color: red;*/
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 175px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 #c4c4c4;
    border: solid 1px #4a4a4a;
    z-index: 9999;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    pointer-events: none;
}

.text {
    margin-top: 20px;
}

.icon {
    margin-top: 20px;
    margin-left: 15px;
    position: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.line {
    width: 1px;
    height: 145px;
    background-color: #4a4a4a;
    position: absolute;
    top: 15px;
    left: 135px;
}

.tooltip-name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: -0.1px;
    color: #4a4a4a;
    margin-bottom: 10px;
}

.tooltip-detail {
    width: 110px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: #4a4a4a;
    padding-bottom: 5px;
}

.icon-size {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.color-icon-size {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.hat-icon {
    display: none;
}

.glasses-icon {
    display: none;
}

.scarf-icon {
    display: none;
}

.necktie-icon {
    display: none;
}

.cue {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.1px;
    color: #ff4c62;
    position: absolute;
    top: 145px;
}

/*body position*/

.head-position {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.upperbody-position {
    position: absolute;
    top: 31.4%;
    left: 50%;
    transform: translate(-50%, 0);
}

.downbody-position {
    position: absolute;
    top: 58.4%;
    left: 50%;
    transform: translate(-50%, 0);
}

/*clothing category position*/
.tanktop-position {
    position: absolute;
    top: 31.4%;
    left: 50%;
    transform: translate(-50%, 0);
}

.tshirt-position {
    position: absolute;
    top: 31.4%;
    left: 50%;
    transform: translate(-50%, 0);
}

.shirt-position {
    position: absolute;
    top: 31.4%;
    left: 50%;
    transform: translate(-50.5%, 0);
}

.sweater-position {
    position: absolute;
    top: 31.4%;
    left: 50%;
    transform: translate(-50%, 0);
}

.suit-position {
    position: absolute;
    top: 31.4%;
    left: 50%;
    transform: translate(-50%, 0);
}

.outerwear-position {
    position: absolute;
    top: 29.3%;
    left: 50%;
    transform: translate(-50%, 0);
}

.dress-position {
    position: absolute;
    top: 31.4%;
    left: 50%;
    transform: translate(-50%, 0);
}

/*neckline shape position*/
.folded-position {
    position: absolute;
    top: 18.3%;
    left: 50%;
    transform: translate(-50%, 0);
}

.vshape-position {
    position: absolute;
    top: 24.9%;
    left: 50%;
    transform: translate(-50%, 0);
}

.round-position {
    position: absolute;
    top: 21.5%;
    left: 50%;
    transform: translate(-50%, 0);
}

/*scarf, hat, glasses, necktie position*/
.scarf-position {
    position: absolute;
    top: 25.8%;
    left: 50%;
    transform: translate(-50%, 0);
}

.malehat-position {
    position: absolute;
    top: -3.3%;
    left: 50%;
    transform: translate(-50%, 0);
}

.femalehat-position {
    position: absolute;
    top: -0.8%;
    left: 50%;
    transform: translate(-50%, 0);
}

.maleglasses-position {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.femaleglasses-position {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0);
}

.necktie-position {
    position: absolute;
    top: 17.8%;
    left: 50%;
    transform: translate(-50%, 0);
}

/*city name position*/
.city-position {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}




/*line chart*/
.axis path {
    stroke: #4a4a4a;
}

.axis text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #4a4a4a;
}

.line-plot {
    fill: none;
    stroke: #c7c7c7;
    stroke-width: 1px;
}

/*
.dots {
    z-index: 5555;
}
*/

.dot {
    stroke: #4a4a4a;
    stroke-width: 2px;
    fill: #ffffff;
}

.dot1 {
    fill: #4a4a4a;
}

.ruler {
    width: 360px;
    height: 3px;
    border-radius: 2px;
    background-color: #4a4a4a;
    position: relative;
    top: 59px; 
    left: 30px;
}

.line-tip {
    position: absolute;
    width: 170px;
    height: 190px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 #c4c4c4;
    border: solid 1px #4a4a4a;
    z-index: 10000;
}

.linetip-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: -0.2px;
    color: #4a4a4a;
    margin-top: 14px;
    margin-left: 14px;
}

.linetip-time {
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: -0.1px;
    color: #c4c4c4;
    margin-left: 14px;
}

.linetip-subtitle {
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: -0.1px;
    color: #c4c4c4;
    margin-top: 10px;
    margin-left: 14px;
}

.linetip-content {
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: -0.1px;
    color: #4a4a4a;
    margin-left: 14px;
}

.linetip-line {
    width: 142px;
    height: 1px;
    background-color: #4a4a4a;
    margin-top: 10px;
    margin-left: 13px;
}


/*matrix chart*/
#grid {
    margin-top: 35px;
}

.matrix-axis .domain {
    display: none;
}

.matrix-axis .tick text.selected {
    font-weight: bold;
    font-size: 1.2em;
    fill: #47ff63;
}

.matrix-axis .tick line.selected {
    stroke: #47ff63;  
}

.tip {
    position: absolute;
    font-size: .8em;
    text-align: center;
    text-shadow: -1px -1px 1px #ffffff, -1px 0px 1px #ffffff, -1px 1px 1px #ffffff, 0px -1px 1px #ffffff, 0px 1px 1px #ffffff, 1px -1px 1px #ffffff, 1px 0px 1px #ffffff, 1px 1px 1px #ffffff;
}

#imageBox {
/*    margin-left: 10px;*/
    opacity: 0;
}

#imageBox p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 2.29;
    letter-spacing: -0.2px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
}

#imageBox img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin-right: 20px;
/*    overflow: hidden;*/
/*    background-size: cover;*/
/*    padding: 5px;*/
}

#imageHolder {
    margin-left: 20px;
}

.matrix-comparison-icon {
    position: absolute;
    top: 78px;
    left: 20px;
    opacity: 0;
}

.diagonal {
    width: 1px;
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #000000 45%, rgba(255, 255, 255, 0));
    transform: rotate(-45deg);
    position: absolute;
    top: 29px;
    left: 222px;
    opacity: 0;
}

.tick-icon:hover {
    transform: scale(1.1);
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.allSquares:hover > .square {
  opacity: 0.1;
}

.allSquares:hover > .square:hover {
  opacity: 1.0;
}

.square {
  stroke: none;
  stroke-width: 2px;
  stroke-opacity: 0.6;
}

.square.whiteSquare {
    stroke: #8F8F8F;
    stroke-width: 0.2px
}

.guideline {
    fill: #8D8D8D;
    pointer-events: none;
}

 /* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

.d3-tip {
    position: absolute;						
    width: 250px;					
    height: 125px;	
    padding-left: 15px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    font-size: 10px;
    color: #4a4a4a;
    background: white;	
    border: solid 1px #4a4a4a;
    border-radius: 8px;	
    pointer-events: none;
    box-shadow: 0px 2px 6px 0 #c4c4c4;
    z-index: 9999;
}

.d3-tip h5{
    width: 220px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 1.2;
    margin-top: -10px;
    text-align: justify;
}

.d3-tip h4 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.1px;
    margin-top: -10px;
}

.d3-tip h3 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.1px;
}

.d3-tip thead td {
  border-bottom: 1px solid #ccc;
  font-size: 10px;
  font-weight: 600;
}

.d3-tip td {
  padding: 2px 10px 2px 2px;
}

.d3-tip thead tr {
  padding-top: 10px;
}



.cover {
    position: absolute;
    box-shadow: 0 0 8px 0 #aaaaaa;
    width: 70px;
    height: 120px;
    border-radius: 10px;
    z-index: -1;
}

.landing {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-img {
    width: 80%;
    margin-top: 5%;
}

.page-content {
    filter: blur(8px);
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.close {
    display: block;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    padding-top: 5px;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 2%;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.close:hover {
    border: solid 1px #4a4a4a;
}
